USE [master]
GO
/****** Object:  Database [Academy]    Script Date: 12/16/2023 12:01:30 AM ******/
CREATE DATABASE [Academy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Academy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Academy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Academy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Academy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Academy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Academy]
GO
/****** Object:  Table [dbo].[Chairs]    Script Date: 12/16/2023 12:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chairs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Financing] [money] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Chairs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculties]    Script Date: 12/16/2023 12:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculties](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Faculties] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 12/16/2023 12:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[Rating] [int] NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 12/16/2023 12:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Employment date] [date] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Premium] [money] NOT NULL,
	[Wage rate] [money] NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Chairs] ON 

INSERT [dbo].[Chairs] ([ID], [Financing], [Name]) VALUES (8, 300000.0000, N'Dernagul')
INSERT [dbo].[Chairs] ([ID], [Financing], [Name]) VALUES (9, 100000.0000, N'Neftchilar')
INSERT [dbo].[Chairs] ([ID], [Financing], [Name]) VALUES (10, 150000.0000, N'CityPoint')
SET IDENTITY_INSERT [dbo].[Chairs] OFF
GO
SET IDENTITY_INSERT [dbo].[Faculties] ON 

INSERT [dbo].[Faculties] ([ID], [Name]) VALUES (2, N'Design')
INSERT [dbo].[Faculties] ([ID], [Name]) VALUES (3, N'IT')
INSERT [dbo].[Faculties] ([ID], [Name]) VALUES (1, N'Programing')
SET IDENTITY_INSERT [dbo].[Faculties] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([ID], [Name], [Rating], [Year]) VALUES (8, N'
FBAS3225', 12, 2022)
INSERT [dbo].[Groups] ([ID], [Name], [Rating], [Year]) VALUES (10, N'
FBAS4256', 11, 2021)
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([ID], [Employment date], [Name], [Premium], [Wage rate], [Surname]) VALUES (11, CAST(N'1999-01-01' AS Date), N'Cavid', 3000.0000, 7500.0000, N'Atamoglanov')
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Chairs_Name]    Script Date: 12/16/2023 12:01:30 AM ******/
ALTER TABLE [dbo].[Chairs] ADD  CONSTRAINT [IX_Chairs_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Faculties_Name]    Script Date: 12/16/2023 12:01:30 AM ******/
ALTER TABLE [dbo].[Faculties] ADD  CONSTRAINT [IX_Faculties_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Groups_Name]    Script Date: 12/16/2023 12:01:30 AM ******/
ALTER TABLE [dbo].[Groups] ADD  CONSTRAINT [IX_Groups_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chairs] ADD  CONSTRAINT [DF_Chairs_Financing]  DEFAULT ((0)) FOR [Financing]
GO
ALTER TABLE [dbo].[Teachers] ADD  CONSTRAINT [DF_Teachers_Premium]  DEFAULT ((0)) FOR [Premium]
GO
ALTER TABLE [dbo].[Chairs]  WITH CHECK ADD  CONSTRAINT [CK_Chairs_Financing] CHECK  (([Financing]>=(0)))
GO
ALTER TABLE [dbo].[Chairs] CHECK CONSTRAINT [CK_Chairs_Financing]
GO
ALTER TABLE [dbo].[Chairs]  WITH CHECK ADD  CONSTRAINT [CK_Chairs_Name] CHECK  ((len([Name])>(0)))
GO
ALTER TABLE [dbo].[Chairs] CHECK CONSTRAINT [CK_Chairs_Name]
GO
ALTER TABLE [dbo].[Faculties]  WITH CHECK ADD  CONSTRAINT [CK_Faculties_Name] CHECK  ((len([Name])>(0)))
GO
ALTER TABLE [dbo].[Faculties] CHECK CONSTRAINT [CK_Faculties_Name]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [CK_Groups_Name] CHECK  ((len([Name])>(0)))
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [CK_Groups_Name]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [CK_Teachers_Employment_date] CHECK  (([Employment date]>='1990-01-01'))
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [CK_Teachers_Employment_date]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [CK_Teachers_Name] CHECK  ((len([Name])>(0)))
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [CK_Teachers_Name]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [CK_Teachers_Premium] CHECK  (([Premium]>(0)))
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [CK_Teachers_Premium]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [CK_Teachers_Surname] CHECK  ((len([Surname])>(0)))
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [CK_Teachers_Surname]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [CK_Teachers_Wage_Rate] CHECK  ((NOT [Wage rate]<=(0)))
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [CK_Teachers_Wage_Rate]
GO
USE [master]
GO
